:root {
    --container-color: hsl(47, 88%, 63%);
    --p-color: hsl(0,0,50%);
    --text-color: hsl(0,0%,7%);
    --card-color: #ffffff;
}
html {
    background-color: var(--container-color);
}

* {
    font-family: 'Figtree', sans-serif;
    max-height: 522px;
}

button {
    background-color: var(--container-color);
    border-radius: 5%;
    display: block;
    box-sizing: border-box;
    border: none;
    margin: 5px 5px 5px 5px;
    width: 82px;
    height: 29px;
}

.learningText {
    margin:0;
    font-size: 16px;
    font-style: italic;
}


body {
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img[src="./assets/images/illustration-article.svg"]{
    border-radius: 5%;
    box-sizing: border-box;
    display: block;
    margin: 20px 20px 20px 20px;
}


 main  {
    background-color: var(--card-color);
    max-width: 384px;
    max-height: 522px;
    border-radius: 5%;
 }

 .title:hover {
    color: var(--container-color);
    cursor: pointer;
 }

 p {
    font-size: 14px;
    font-weight: 400;
    font-style: bold;
 }

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

 h1 {
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
 }


 .container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    max-width: 336px;
    max-height: 189px;
 } 
 div.author {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: auto;
    width: 128px;
 }

 img[src="./assets/images/image-avatar.webp"] {
    max-width: 32px;
    max-height: 32px;
 }

 div.author .authorText {
    display: inline-block;
    justify-content: space-around;
    margin-left: 10px; 
 }

 